<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Knack</title>
    
    <link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body>
    <h1>Knack</h1>
    <h2>Search for artists</h2>
    <form method="post" action="/artistSearch">
        Search Artist:<input type="text" name="artist" placeholder="Search Artist"/>
        <input type="submit"/>
    </form>
    <p>
        <% if (artists) { 
         for (let i=0; i<artists.length; i++) { %>
            <%- i %> -  name: <%- artists[i].name%>, Date of birth: <%- artists[i].birthDate%><br>
        <% } 
         } %>
    </p>
</body>
</html>