.bubbleChart svg {
    margin: auto;
    background:#58595B;
  }

  .bubble {

    display: block;
  }

  .artist-link {
      display: block;
  }

  .artist-link:hover, .artist-link:link, .artist-link:visited {
    color: white;
    text-decoration: none;
  }

  circle:hover {

  }