.bubbleChart  {
    font: 10px sans-serif;
    
    text-align: right;
    padding: 3px;
    margin: auto;
    color: white;

    top:0vh;
    left:0;
    
    height:40vh;


  }

  .bubble {

    display: block;
  }

  .artist-link {
      display: block;
  }
  .artist-link:hover {
    color: white;
    text-decoration: none;
  }

  .artist-link:hover, .artist-link:link, .artist-link:visited {
    color: white;
    text-decoration: none;
  }

  circle:hover {
    transform: scale(1.1);
  }