.map-container {
    position: fixed;
    top:60vh;
    left:0;
    width:100%;
    height:40vh;
    margin: auto;
    
    display: block;
}



#map{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: block;
}

.thumbnailMap {
    width: 100px;
    display: block;
}