.contact-page h1 {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  padding-bottom: 200px;
}

.title-name-form {
  text-align: center;
  font-weight: 900;
  font-size: 25px;
}
.contact-page {
  display: flex;
  justify-content: space-around;
}
.info-contact {
  display: flex;
  align-self: flex-end;
  align-content: center;
  flex-direction: column;
  width: 40%;
  border-right: 3px solid black;
  text-align: left;
}
.info-contact h3 {
  font-weight: 900;
  font-size: 20px;
}

.form {
  width: 60%;
  padding-top: 100px;
  padding-right: 100px;
}
.info-contact h3,
.info-contact p {
  display: flex;
  justify-content: center;
}

.col-sm-10 {
  text-align: center;
}
