*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*************** Info Contact *******************************/

.info-contact {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  width: 80%;
  margin-left: 60px;

}
.info-contact h1 {
  font-size: 40px;
  font-weight: bold;
  padding-top: 25px;

}

.info-contact h3 {
  font-size: 25px; 
  font-weight: 700;
  padding-top: 20px;
}

.title-name-form
{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
}

.form {
  text-align: center;
}

.form-control{ 

  height: 50px;
  width: 80%;
 margin-left: 50px;
 
}

textarea.form-control {
  height: 150px;
  width:80%
}
.form-check-label {
  width: 80%;
}
.col-form-label {
  text-align: left;
  padding-left: 70px;
}
.knack-btn-contact {
  width: 85%;
  margin-right: 20px;
  background-color: black;
}

@media only screen and (min-width: 800px) {
.contact-page {
  display: flex;
}
.info-contact {
  width: 40%;
  border-right: 1px solid black;
  border-bottom: 0;
}
.info-contact1 {
 margin-top: 200px;
}
.contact_form{
  width: 60%;
}
.col-form-label {
  padding-left: 30px;
}
.form-control {
  margin-right: 200px;
}
.title-name-form{
  margin-left: 120px;
}


}