.carousel img {
  width: 100%;
  max-width: 100;
  height: 450px;
  text-align: center;
}

.carousel-item:nth-of-type(2) .carousel-image {
  object-position: bottom;
}

.carousel-caption {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  padding-top: 150px;
  z-index: 1;
}

.carousel-item:nth-of-type(1) .carousel-caption {
  padding-top: 200px;
}

.carousel-item:nth-of-type(1) .carousel-caption h3 {
  font-family: "Poiret One";
  font-size: 3rem;
}

.carousel-item:nth-of-type(1) .carousel-caption p {
  font-size: 1.75rem;
}

.carousel-caption h3 {
  width: 450px;
  max-width: 100%;
  margin: auto;
}

.carousel-caption h3 img.carousel-icons {
  width: 100px;
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.carousel-caption a,
.carousel-caption a:hover {
  text-decoration: none;
  color: white;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 2;
}
